<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
</head>

<body>

    <section id="header">
        {{>header}}
    </section>


    <div class="text-center bg-dark p-4 mt-3">
        <h1 class="display-5 text-danger">{{title}}</h1>
        <a href="/">Go to Homepage</a>
        
    </div>


    <section id="footer">
        {{>footer}}
    </section>
<script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>




